---
import { getCollection } from "astro:content";

import BlogEntries1 from "#/components/blog/blog-entries-1.astro";
import SubscribeCta from "#/components/blog/subscribe-cta.astro";
import Wrapper from "#/components/fundations/containers/wrapper.astro";
import Text from "#/components/fundations/elements/text.astro";
import BaseLayout from "#/layouts/base-layout.astro";

const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = a.data.pubDate.getTime();
  const dateB = b.data.pubDate.getTime();
  return dateB - dateA;
});
---

<BaseLayout
  seo={{
    title: "Blog",
    description: "Welcome to my blog: News and thoughts",
    useTitleTemplate: true,
  }}
>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="text-center">
        <Text tag="h1" variant="displayXL" class="text-balance text-base-900 dark:text-white">
          Welcome to my blog:
          <span class="font-display tracking-wide italic"> News and thoughts </span>
        </Text>
        <Text tag="p" variant="textLG" class="mt-4 text-balance text-base-600 dark:text-base-400">
          I write about everything that I learn, join me on my journey.
        </Text>
      </div>
      <div class="mt-12 flex flex-col gap-2">
        {allPosts.map((post) => <BlogEntries1 post={post} />)}
      </div>
    </Wrapper>
  </section>
  <SubscribeCta />
</BaseLayout>
