@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar-hide";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  /* Typography */
  --font-sans:
    "Geist", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Instrument Serif", Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Geist Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /* Colors */
  --color-white: #f6f6f4;

  --color-accent-50: #edfcff;
  --color-accent-100: #d6f6ff;
  --color-accent-200: #b5f2ff;
  --color-accent-300: #83ecff;
  --color-accent-400: #48dfff;
  --color-accent-500: #1ec4ff;
  --color-accent-600: #06a9ff;
  --color-accent-700: #0096ff;
  --color-accent-800: #0872c5;
  --color-accent-900: #0d609b;
  --color-accent-950: #0e3a5d;

  --color-base-50: oklch(0.985 0 0);
  --color-base-100: oklch(0.967 0.001 286.375);
  --color-base-200: oklch(0.92 0.004 286.32);
  --color-base-300: oklch(0.871 0.006 286.286);
  --color-base-400: oklch(0.705 0.015 286.067);
  --color-base-500: oklch(0.552 0.016 285.938);
  --color-base-600: oklch(0.442 0.017 285.786);
  --color-base-700: oklch(0.37 0.013 285.805);
  --color-base-800: oklch(0.274 0.006 286.033);
  --color-base-900: oklch(0.21 0.006 285.885);
  --color-base-950: oklch(0.141 0.005 285.823);

  /* Keyframes */
  --animate-marquee: marquee 25s linear infinite;
  --animate-rightMarquee: rightMarquee 300s linear infinite;
  --animate-slowMarquee: marquee 300s linear infinite;
  --animate-verticalMarquee: vertical 30s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes vertical {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  @keyframes rightMarquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  /* Shadows */
  --shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 10px -2px, rgba(0, 0, 0, 0.1) 0px 2px 2px -1px, rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
  --shadow-dark:
    0 -2px 6px hsla(0, 0%, 100%, 0.17), 0 5px 18px rgba(0, 0, 0, 0.4), 0 4px 40px 8px rgba(0, 0, 0, 0.4),
    0 1px 4px -1px rgba(0, 0, 0, 0.302), inset 0 0 0 0.3px hsla(0, 0%, 100%, 0.3), 0 0 0 0.5px hsla(0, 0%, 100%, 0.4);
  --shadow-light:
    0 -2px 6px hsla(0, 0%, 100%, 0.01), 0 5px 18px rgba(0, 0, 0, 0.05), 0 4px 40px 8px rgba(0, 0, 0, 0.05),
    0 1px 4px -1px rgba(0, 0, 0, 0.04), inset 0 0 0 0.3px hsla(0, 0%, 100%, 0.02), 0 0 0 0.1px hsla(0, 0%, 100%, 0.05);
}

:root {
  /* Shiki code style */
  --astro-code-foreground: theme(colors.base.500);
  --astro-code-background: theme(colors.base.950);
  --astro-code-token-punctuation: var(--color-lime-300); /* lime-300 for punctuation */
  --astro-code-token-parameter: var(--color-purple-300); /* Purple-300 for parameters */
  --astro-code-token-line-number: theme(colors.base.400);
  --astro-code-token-comment: theme(colors.base.700); /* Muted purple-300 for comments */
  --astro-code-token-cdata: var(--color-purple-300); /* Same as parameter for consistency */
  --astro-code-token-constant: var(--color-lime-300); /* lime-300 for constants */
  --astro-code-token-function: var(--color-lime-300); /* Brighter lime-300 for functions */
  --astro-code-token-attr-name: var(--color-lime-300); /* Attribute names in lime-300 */
  --astro-code-token-builtin: var(--color-purple-300); /* Subtle distinction for built-ins */
  --astro-code-token-boolean: var(--color-lime-300); /* Similar to constants */
  --astro-code-token-class-name: var(--color-purple-300); /* Purple-300 for class names */
  --astro-code-token-property: var(--color-lime-300); /* lime-300 for properties */
  --astro-code-token-selector: var(--color-lime-300); /* lime-300 for selectors */
  --astro-code-token-string: var(--color-purple-300); /* Slight contrast for strings */
  --astro-code-token-string-expression: var(--color-lime-300); /* Match other text tokens */
  --astro-code-token-variable: var(--color-lime-300); /* lime-300 for variables */
  --astro-code-token-keyword: var(--color-purple-300); /* Purple-300 for keywords */
  --astro-code-token-symbol: var(--color-lime-300); /* Match text for consistency */
  --astro-code-token-number: var(--color-lime-300); /* lime-300 for numbers */
  --astro-code-token-operator: var(--color-lime-300); /* Slightly lighter lime-300 */
  --astro-code-token-deleted: var(--color-purple-300); /* Dim purple-300 for deleted tokens */
  --astro-code-token-changed: var(--color-purple-300); /* Medium purple-300 for changes */
  --astro-code-token-important: var(--color-lime-300); /* Bright lime-300 for important text */
  --astro-code-token-tag: var(--color-purple-300); /* Slightly lighter for tags */
  --astro-code-token-inserted: var(--color-lime-300); /* lime-300 for inserted text */
  --astro-code-token-namespace: var(--color-purple-300); /* Consistent with tags */
  --astro-code-token-atrule: var(--color-purple-300); /* Same as namespace */
  --astro-code-token-entity: var(--color-lime-300); /* Match other identifiers */
  --astro-code-token-highlight: theme(colors.base.700);
  --astro-code-token-alert: var(--color-lime-300); /* Bright lime-300 for alerts */
  --astro-code-token-emphasis: var(--color-purple-300); /* Mid-tone purple-300 for emphasis */
  --astro-code-token-focus: var(--color-lime-300); /* Bright lime-300 for focused elements */
  --astro-code-token-notice: var(--color-lime-300); /* Match other noticeable elements */
  --astro-code-token-attr-value: var(--color-purple-300); /* Same as strings */
  --astro-code-token-regex: var(--color-purple-300); /* Consistent with strings */
  --astro-code-token-doctype: var(--color-purple-300); /* Muted for doctype */
  --astro-code-token-prolog: var(--color-purple-300); /* Same as comments */
  --astro-code-token-bold: inherit;
  --astro-code-token-: ;
  --astro-code-token-underline: underline;
}
