---
import LogoCloud from "#/components/assets/logo-cloud.astro";
import ContactCta from "#/components/forms/contact-cta.astro";
import Wrapper from "#/components/fundations/containers/wrapper.astro";
import BaseLayout from "#/layouts/base-layout.astro";

// const services = [
//   {
//     title: "Design",
//     price: "5,455",
//     items: [
//       {
//         description: "Ideal for emerging businesses requiring continuous design assistance.",
//         includes: [
//           "Brand Style Guide",
//           "Component Library",
//           "UI Patterns",
//           "Interactive Prototypes",
//           "Accessibility Standards",
//           "Responsive Designs",
//           "Design Tokens",
//           "User Flow Diagrams",
//           "Documentation & Guidelines",
//           "Version Control",
//         ],
//       },
//       // Add more items as necessary
//     ],
//   },
//   {
//     title: "Design and  Development",
//     price: "8,455",
//     items: [
//       {
//         description: "Ideal for startups requiring design and front-end development services.",
//         includes: [
//           "Same as in design",
//           "End-to-End Development",
//           "Database Design & Integration",
//           "API Development & Integration",
//           "Front-End & Back-End ",
//           "Security Best Practices",
//           "Scalable Architecture",
//           "Performance Optimization",
//           "Cloud Deployment & CI/CD",
//           "Technical Documentation",
//           "Ongoing Support & Maintenance",
//         ],
//       },
//       // Add more items as necessary
//     ],
//   },
// ];
---

<BaseLayout
  seo={{
    title: "Studio",
    description: "Hire me to build your next project from scratch, with a focus on design and development.",
    useTitleTemplate: true,
  }}
>
  <section>
    <Wrapper class="mx-auto px-8 py-24">
      <div class="text-center">
        <h1 class="text-4xl text-balance text-base-900 md:text-6xl dark:text-white">
          I like to build <span class="font-display tracking-wide italic">projects from scratch</span>
        </h1>
        <p class="mt-4 text-base-600 dark:text-base-400">
          Hire me to build your next project from scratch, with a focus on design and development.
        </p>

        <LogoCloud />
      </div>
      <div class="mt-6 flex flex-col gap-2">
        <!-- {
          services.map((section) => (
            <div class="group relative flex h-full min-h-72 w-full transform flex-col justify-between overflow-hidden rounded-2xl bg-linear-45 from-base-50 to-base-100 p-6 shadow ring-1 ring-base-200 transition-all duration-300 ring-inset hover:shadow-light dark:from-base-800 dark:to-base-950 dark:ring-base-800 dark:hover:shadow-dark">
              <div class="flex items-center justify-between font-display font-medium tracking-wide text-base-900 italic dark:text-white">
                <Text class="text-balance" tag="h3" variant="displaySM">
                  {section.title}
                </Text>
                <Text class="text-balance" tag="p" variant="textLG">
                  ${section.price}/m
                </Text>
              </div>
              <div class="mt-6" role="list">
                {section.items.map((item) => (
                  <>
                    <Text class="text-balance text-base-600 dark:text-base-400" tag="p" variant="textXL">
                      {item.description}
                    </Text>
                    <ul
                      class="mt-6 grid list-inside gap-x-6 gap-y-2 text-sm text-base-600 md:grid-cols-2 dark:text-base-400"
                      role="list"
                    >
                      {item.includes.map((feature) => (
                        <li class="flex items-center gap-2">
                          <ChevronRightIcon class="size-4" />
                          <span class="duration-300 hover:translate-x-2">{feature}</span>
                        </li>
                      ))}
                    </ul>
                  </>
                ))}
              </div>
              <div class="col-span-full mt-12 flex">
                <Link
                  aria-label="your label"
                  class="flex h-9 items-center justify-between gap-1 rounded-full bg-base-50 px-4 py-2.5 text-sm font-semibold text-base-900 ring-1 ring-base-200 duration-300 ring-inset hover:bg-base-200"
                  href="/forms/contact"
                  size="sm"
                  title="your title"
                  variant="default"
                >
                  Get started
                </Link>
              </div>
            </div>
          ))
        } -->
      </div>
      <ContactCta />
    </Wrapper>
  </section>
</BaseLayout>
