---
import { getCollection } from "astro:content";

import Wrapper from "#/components/fundations/containers/wrapper.astro";
import Text from "#/components/fundations/elements/text.astro";
import ProjectEntries2 from "#/components/projects/project-entries-2.astro";
import BaseLayout from "#/layouts/base-layout.astro";

const allProjects = await getCollection("projects");
allProjects.sort((a, b) => {
  const dateA = a.data.pubDate.getTime();
  const dateB = b.data.pubDate.getTime();
  return dateB - dateA;
});
---

<BaseLayout
  seo={{
    title: "Projects",
    description:
      "Explore my portfolio of full-stack development projects. From web applications to open-source contributions, discover how I bring ideas to life through code.",
    useTitleTemplate: true,
  }}
>
  <section>
    <Wrapper class="py-24">
      <div class="text-center">
        <Text tag="h1" variant="displayXL" class="text-balance text-base-900 dark:text-white">
          I like to build
          <span class="font-display tracking-wide text-base-600 italic dark:text-base-400"> projects from scrach </span>
        </Text>
        <Text tag="p" variant="textLG" class="mt-4 text-base-600 dark:text-base-400">
          When I'm not working I build things that make me explore and learn, and I love to share my projects with the
          world.
        </Text>
      </div>

      <div class="mt-6 flex flex-col gap-2">
        {allProjects.map((post) => <ProjectEntries2 post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
