---
const { gap, size, href, variant, class: className, ...rest } = Astro.props;
// Default
const defaultClass = [
  "text-white dark:text-base-900  ",
  "bg-black dark:bg-white",
  "focus:outline-black dark:focus:outline-white",
];
// Accent
const accentClass = [
  "text-white dark:text-base-900  ",
  "bg-accent-600 dark:bg-accent-500",
  "focus:outline-accent-600 dark:focus:outline-accent-600",
];
// Muted
const mutedClass = [
  "text-base-500 dark:text-white",
  "bg-base-50 dark:bg-base-800",
  "focus:outline-base-500 dark:focus:outline-base-800",
];
// Size (only applies if variant is not "link")
const xs = ["h-8", "px-4", "py-2", "text-xs"];
const sm = ["h-9", "px-4", "py-2", "text-xs"];
const base = ["h-10", "px-6", "py-3", "text-base"];
const md = ["h-11", "px-6", "py-3", "text-md"];
const lg = ["h-12", "px-6", "py-3", "text-lg"];
const xl = ["h-14", "px-6", "py-3", "text-base"];
// Gap
const gapXS = ["gap-2"];
const gapSM = ["gap-4"];
const gapBase = ["gap-8"];
const gapMD = ["gap-10"];
const gapLG = ["gap-12"];
const additionalClasses = className ? className.split(" ") : [];
---

<a
  class:list={[
    ...(variant === "link"
      ? [...additionalClasses]
      : [
          "font-medium",
          "group",
          "relative",
          "flex",
          "transition",
          "text-center",
          "outline-transparent",
          "rounded-full",
          "items-center",
          "justify-center",
          "duration-500",
          "ease-in-out",
          "transition-colors",
          "focus:outline-2",
          "outline-offset-2",
          "overflow-hidden",
          variant === "muted" && mutedClass,
          variant === "accent" && accentClass,
          variant === "default" && defaultClass,
          size === "xs" && xs,
          size === "sm" && sm,
          size === "base" && base,
          size === "md" && md,
          size === "lg" && lg,
          size === "xl" && xl,
          gap === "xs" && gapXS,
          gap === "sm" && gapSM,
          gap === "base" && gapBase,
          gap === "md" && gapMD,
          gap === "lg" && gapLG,
          ...additionalClasses,
        ]),
  ]}
  href={href}
  {...rest}
>
  <span class="relative z-10 flex items-center">
    <slot name="left-icon" />
    <slot />
    <slot name="right-icon" />
  </span>
  <div
    class="absolute inset-0 flex h-full w-full [transform:skew(-12deg)_translateX(-100%)] justify-center group-hover:[transform:skew(-12deg)_translateX(100%)] group-hover:duration-1000"
  >
    <div class="relative h-full w-8 bg-white/20 dark:bg-base-950/10"></div>
  </div>
</a>
