---
import { Image } from "@unpic/astro";

import logo1 from "#/images/brands/1.svg";
import logo2 from "#/images/brands/2.svg";
import logo3 from "#/images/brands/3.svg";
import logo4 from "#/images/brands/4.svg";
import logo5 from "#/images/brands/5.svg";

const logos = [
  { src: logo1, alt: "Platzi" },
  { src: logo2, alt: "Seeed" },
  { src: logo3, alt: "Reworth" },
  { src: logo4, alt: "ClickIT" },
  { src: logo5, alt: "Brightwell" },
];
---

<style>
  /*
  * This is a container query used for the demo that does not need to be included
  */
  .container-block {
    container-type: inline-size;
  }

  @container (max-width: 1100px) {
    .container-block img:nth-child(3),
    .container-block img:nth-child(4) {
      display: none;
    }
  }
</style>

<div
  class="container-block relative mx-auto mt-12 py-2"
  x-data
  x-init="
    $nextTick(() => {
        const content = $refs.content;
        const item = $refs.item;
        const clone = item.cloneNode(true);
        content.appendChild(clone);
    });
  "
>
  <div class="relative mx-auto flex items-center overflow-hidden py-2 tracking-wide">
    <div class="absolute left-0 z-10 h-full w-44 bg-gradient-to-r from-white to-transparent dark:from-base-950"></div>
    <div class="absolute right-0 z-10 h-full w-44 bg-gradient-to-l from-white to-transparent dark:from-base-950"></div>
    <div class="flex animate-marquee" x-ref="content">
      <div class="flex w-full flex-shrink-0 items-center justify-around -space-x-4" x-ref="item">
        {
          logos.map((logo) => (
            <picture class="h-auto w-25">
              <Image
                alt={logo.alt}
                class="w-full invert filter dark:filter-none"
                height={100}
                layout="constrained"
                objectFit="contain"
                priority
                src={logo.src}
                width={200}
              />
            </picture>
          ))
        }
      </div>
    </div>
  </div>
</div>
