---
import { getCollection } from "astro:content";

import Wrapper from "#/components/fundations/containers/wrapper.astro";
import Text from "#/components/fundations/elements/text.astro";
import BaseLayout from "#/layouts/base-layout.astro";

const allPosts = await getCollection("posts");

const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout
  seo={{
    title: "Blog Tags",
    description: "Find all the posts tagged with a specific tag.",
    useTitleTemplate: true,
  }}
>
  <section>
    <Wrapper class="py-24">
      <div class="text-center">
        <Text class="text-balance text-base-900 dark:text-white" tag="h1" variant="displayXL">
          Blog posts
          <span class="block font-display tracking-wide italic"> tagged with </span>
        </Text>
        <Text class="mt-4 text-balance text-base-600 dark:text-base-400" tag="p" variant="textLG">
          Find all the posts tagged with a specific tag.
        </Text>
      </div>
      <ol class="mt-12 grid grid-cols-2 gap-2 text-center md:grid-cols-3" role="list">
        {
          tags.map((tag) => (
            <>
              <li>
                <Text
                  class="text-base-900 capitalize dark:text-white"
                  href={`/blog/tags/${tag}`}
                  tag="a"
                  underlined={true}
                  variant="textSM"
                >
                  {tag}
                </Text>
              </li>
            </>
          ))
        }
      </ol>
    </Wrapper>
  </section>
</BaseLayout>
