---
import Wrapper from "#/components/fundations/containers/wrapper.astro";
import Button from "#/components/fundations/elements/button.astro";
import Text from "#/components/fundations/elements/text.astro";
---

<section>
  <Wrapper class="py-24" variant="standard">
    <div class="text-center">
      <Text class="text-balance text-base-900 dark:text-white" tag="h1" variant="displayXL">
        Get in touch

        <span class="block font-display tracking-wide italic"> Send me a message </span>
      </Text>
      <Text class="mt-4 text-balance text-base-600 dark:text-base-400" tag="p" variant="textLG">
        I am open to collaborating on exciting projects with wonderful individuals. If you require any assistance, I am
        more than willing to offer my support.
      </Text>
    </div>

    <form class="mt-6">
      <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
        <div>
          <label class="sr-only" for="first-name">First name</label>
          <div>
            <input
              autocomplete="given-name"
              class="outline-inset dark:place-holder-text-base-600 h-10 w-full flex-auto appearance-none rounded-full border-transparent bg-base-50 px-3 py-2 text-center text-base-900 shadow-base-800/5 outline outline-base-200 duration-300 focus:border-base-500 focus:outline-4 focus:outline-base-500/10 focus:outline-none sm:text-sm dark:bg-base-800 dark:text-white dark:outline-base-800 dark:placeholder:text-base-400"
              id="first-name"
              name="first-name"
              placeholder="Your name"
              type="text"
            />
          </div>
        </div>
        <div>
          <label class="sr-only" for="last-name">Last name</label>
          <div>
            <input
              autocomplete="family-name"
              class="outline-inset dark:place-holder-text-base-600 h-10 w-full flex-auto appearance-none rounded-full border-transparent bg-base-50 px-3 py-2 text-center text-base-900 shadow-base-800/5 outline outline-base-200 duration-300 focus:border-base-500 focus:outline-4 focus:outline-base-500/10 focus:outline-none sm:text-sm dark:bg-base-800 dark:text-white dark:outline-base-800 dark:placeholder:text-base-400"
              id="last-name"
              name="last-name"
              placeholder="Your last name"
              type="text"
            />
          </div>
        </div>
        <div class="sm:col-span-2">
          <label class="sr-only" for="company">Company</label>
          <div>
            <input
              autocomplete="organization"
              class="outline-inset dark:place-holder-text-base-600 h-10 w-full flex-auto appearance-none rounded-full border-transparent bg-base-50 px-3 py-2 text-center text-base-900 shadow-base-800/5 outline outline-base-200 duration-300 focus:border-base-500 focus:outline-4 focus:outline-base-500/10 focus:outline-none sm:text-sm dark:bg-base-800 dark:text-white dark:outline-base-800 dark:placeholder:text-base-400"
              id="company"
              name="company"
              placeholder="Company name"
              type="text"
            />
          </div>
        </div>
        <div class="sm:col-span-2">
          <label class="sr-only" for="email">Email</label>
          <div>
            <input
              autocomplete="email"
              class="outline-inset dark:place-holder-text-base-600 h-10 w-full flex-auto appearance-none rounded-full border-transparent bg-base-50 px-3 py-2 text-center text-base-900 shadow-base-800/5 outline outline-base-200 duration-300 focus:border-base-500 focus:outline-4 focus:outline-base-500/10 focus:outline-none sm:text-sm dark:bg-base-800 dark:text-white dark:outline-base-800 dark:placeholder:text-base-400"
              id="email"
              name="email"
              placeholder="Your best email!"
              type="email"
            />
          </div>
        </div>
        <div class="sm:col-span-2">
          <label class="sr-only" for="message">Message</label>
          <div>
            <textarea
              class="outline-inset dark:place-holder-text-base-600 w-full flex-auto resize appearance-none rounded-lg border-transparent bg-base-50 px-3 py-2 text-center text-base-900 shadow-base-800/5 outline outline-base-200 duration-300 focus:border-base-500 focus:outline-4 focus:outline-base-500/10 focus:outline-none sm:text-sm dark:bg-base-800 dark:text-white dark:outline-base-800 dark:placeholder:text-base-400"
              id="message"
              name="message"
              placeholder="Your message goes here..."
              rows="4"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="mt-2">
        <Button class="w-full" size="base" type="submit" variant="default">Submit </Button>
      </div>
    </form>
  </Wrapper>
</section>
