---
import Wrapper from "#/components/fundations/containers/wrapper.astro";
import Button from "#/components/fundations/elements/button.astro";
import Text from "#/components/fundations/elements/text.astro";
---

<section>
  <Wrapper variant="standard" class="py-24">
    <div class="text-center">
      <Text tag="h1" variant="displayXL" class="text-balance text-base-900 dark:text-white">
        Get in touch

        <span class="block font-display tracking-wide italic"> Send me a message </span>
      </Text>
      <Text tag="p" variant="textLG" class="mt-4 text-balance text-base-600 dark:text-base-400">
        I am open to collaborating on exciting projects with wonderful individuals. If you require any assistance, I am
        more than willing to offer my support.
      </Text>
    </div>

    <form class="mt-6">
      <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
        <div>
          <label for="first-name" class="sr-only">First name</label>
          <div>
            <input
              type="text"
              name="first-name"
              id="first-name"
              placeholder="Your name"
              autocomplete="given-name"
              class="outline-inset dark:place-holder-text-base-600 h-10 w-full flex-auto appearance-none rounded-full border-transparent bg-base-50 px-3 py-2 text-center text-base-900 shadow-base-800/5 outline outline-base-200 duration-300 focus:border-base-500 focus:outline-4 focus:outline-base-500/10 focus:outline-none sm:text-sm dark:bg-base-800 dark:text-white dark:outline-base-800 dark:placeholder:text-base-400"
            />
          </div>
        </div>
        <div>
          <label for="last-name" class="sr-only">Last name</label>
          <div>
            <input
              type="text"
              name="last-name"
              placeholder="Your last name"
              id="last-name"
              autocomplete="family-name"
              class="outline-inset dark:place-holder-text-base-600 h-10 w-full flex-auto appearance-none rounded-full border-transparent bg-base-50 px-3 py-2 text-center text-base-900 shadow-base-800/5 outline outline-base-200 duration-300 focus:border-base-500 focus:outline-4 focus:outline-base-500/10 focus:outline-none sm:text-sm dark:bg-base-800 dark:text-white dark:outline-base-800 dark:placeholder:text-base-400"
            />
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="company" class="sr-only">Company</label>
          <div>
            <input
              type="text"
              name="company"
              id="company"
              placeholder="Company name"
              autocomplete="organization"
              class="outline-inset dark:place-holder-text-base-600 h-10 w-full flex-auto appearance-none rounded-full border-transparent bg-base-50 px-3 py-2 text-center text-base-900 shadow-base-800/5 outline outline-base-200 duration-300 focus:border-base-500 focus:outline-4 focus:outline-base-500/10 focus:outline-none sm:text-sm dark:bg-base-800 dark:text-white dark:outline-base-800 dark:placeholder:text-base-400"
            />
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="email" class="sr-only">Email</label>
          <div>
            <input
              type="email"
              name="email"
              placeholder="Your best email!"
              id="email"
              autocomplete="email"
              class="outline-inset dark:place-holder-text-base-600 h-10 w-full flex-auto appearance-none rounded-full border-transparent bg-base-50 px-3 py-2 text-center text-base-900 shadow-base-800/5 outline outline-base-200 duration-300 focus:border-base-500 focus:outline-4 focus:outline-base-500/10 focus:outline-none sm:text-sm dark:bg-base-800 dark:text-white dark:outline-base-800 dark:placeholder:text-base-400"
            />
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="message" class="sr-only">Message</label>
          <div>
            <textarea
              name="message"
              id="message"
              placeholder="Your message goes here..."
              rows="4"
              class="outline-inset dark:place-holder-text-base-600 w-full flex-auto resize appearance-none rounded-lg border-transparent bg-base-50 px-3 py-2 text-center text-base-900 shadow-base-800/5 outline outline-base-200 duration-300 focus:border-base-500 focus:outline-4 focus:outline-base-500/10 focus:outline-none sm:text-sm dark:bg-base-800 dark:text-white dark:outline-base-800 dark:placeholder:text-base-400"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="mt-2">
        <Button type="submit" size="base" variant="default" class="w-full">Submit </Button>
      </div>
    </form>
  </Wrapper>
</section>
