---
import DeviceMobileIcon from "virtual:icons/tabler/device-mobile";

import LogoCloud from "#/components/assets/logo-cloud.astro";
import Link from "#/components/fundations/elements/link.astro";
import Text from "#/components/fundations/elements/text.astro";
---

<div class="mt-2 grid gap-2 sm:grid-cols-2">
  <div
    class="group rounded-3xl bg-linear-45 from-base-50 to-base-100 p-2 shadow ring-1 ring-base-200 duration-300 ring-inset hover:shadow-light dark:from-base-800 dark:to-base-950 dark:ring-0 dark:hover:shadow-dark"
  >
    <div class="relative flex h-full min-h-96 flex-col justify-between overflow-hidden rounded-2xl p-4">
      <div>
        <div class="relative flex items-center justify-between sm:items-start">
          <Text class="font-medium text-base-900 uppercase dark:text-white" tag="h3" variant="textBase">
            Book a call
          </Text>
          <a
            class="rounded-full bg-black p-1 text-white duration-300 group-hover:-rotate-45 dark:bg-base-50 dark:text-base-900"
            href="/contact"
            title="your tile"
          >
            <DeviceMobileIcon class="size-4" />
          </a>
        </div>
        <Text class="mt-8 text-base-600 dark:text-base-400" tag="p" variant="textBase">
          If not sure, you can book an intro call to learn more about my services and get a free consultation to discuss
          your project.
        </Text>
      </div>
      <div class="">
        <Link href="/contact" size="sm" title="your title" variant="default">Book an intro call </Link>
      </div>
    </div>
  </div>
  <div
    class="group rounded-3xl bg-white p-2 shadow ring-1 ring-base-200 duration-300 ring-inset hover:shadow-light dark:bg-base-950 dark:ring-0 dark:ring-base-800 dark:hover:shadow-dark"
  >
    <div class="relative flex h-full min-h-96 flex-col justify-between overflow-hidden rounded-2xl">
      <div>
        <div class="p-4 pb-0">
          <Text
            class="font-display font-medium tracking-wide text-balance text-base-900 italic dark:text-white"
            tag="h3"
            variant="display2XL"
          >
            Referral program
          </Text>
          <Text class="mt-8 text-balance text-base-600 dark:text-base-400" tag="p" variant="textLG">
            Refer someone and get 10% off your next project or month of work.
          </Text>
        </div>
        <LogoCloud />
      </div>
      <div class="p-4">
        <Link href="#_" size="sm" title="your title" variant="muted">Join the program </Link>
      </div>
    </div>
  </div>
</div>
