---
import BrandGithubIcon from "virtual:icons/tabler/brand-github";
import BrandXIcon from "virtual:icons/tabler/brand-x";
import BrandYoutubeIcon from "virtual:icons/tabler/brand-youtube";

import Logo from "#/components/assets/logo.astro";
import Wrapper from "#/components/fundations/containers/wrapper.astro";
import Text from "#/components/fundations/elements/text.astro";
---

<footer>
  <Wrapper class="flex flex-col py-24">
    <a href="/" class="mx-auto"><Logo class="size-8 text-base-900 dark:text-white" /></a>
    <Text tag="p" variant="textBase" class="mt-12 text-center leading-6 text-balance text-base-600 dark:text-base-400">
      © Copyright Daniel Esteves <span>{new Date().getFullYear()}</span>. All rights reserved.
    </Text>

    <div class="mt-12 flex justify-center space-x-6">
      <a href="https://x.com/danestves" class="text-base-600 dark:text-base-400 dark:hover:text-white">
        <span class="sr-only">x</span>
        <BrandXIcon class="size-4" />
      </a>
      <a href="https://www.youtube.com/@danestves" class="text-base-600 dark:text-base-400 dark:hover:text-white">
        <span class="sr-only">YouTube</span>
        <BrandYoutubeIcon class="size-4" />
      </a>

      <a href="https://github.com/danestves" class="text-base-600 dark:text-base-400 dark:hover:text-white">
        <span class="sr-only">GitHub</span>
        <BrandGithubIcon class="size-4" />
      </a>
    </div>
  </Wrapper>
</footer>
